

.shop-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border-right: 3px solid lightgray;
    padding: 20px;
}

.cart-container{ 
    padding: 20px;
}