

.single-product-item{
    border: 1px solid lightgray;
    border-radius: 7px;
    text-align: center;
    padding: 20px;
    transition: 0.4s;
    background-color: white;
}

.single-product-item:hover .item-name{
    color: green;
    
}

.single-product-item:hover{
    box-shadow: 10px 10px 24px -13px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}


.item-image{
    width: 200px;
}



.rating{
    color: green;
}